<div class="container">

  <div class="row">
    <div class="col-lg-5">
      <div class="row">
        <%= render 'users/info' %>
      </div>
      <div class="row">
        <%= render 'form' %>
      </div>
    </div>

    <div class="col-lg-7">

      <div class="row  border-bottom border-secondary">
        <h2>Book datail</h2>
      </div>

      <% @books.each do |book| %>
        <table>
          <thad>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thad>
          <tbody>
            <tr>
              <td><%= image_tag book.user.get_profile_image %></td>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

</div>
