<div class="container">

  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <%= render 'users/info', current_user: @book.user %>
      </div>
      <div class="row">
        <%= render 'form' %>
      </div>
    </div>

    <div class="col-lg-7 offset-1">

      <div class="row">
        <h2>Book detail</h2>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @book.user.get_profile_image(100, 100) %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
